@import "mixins";
@import "variables";

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

// Body reset
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: #fff;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}
