@import "mixins";
@import "variables";

.link {
  text-decoration: none;
  color: #999;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: underline;
  }
  &:focus {
    @extend .tab-focus;
  }
}

.text-center {
  text-align: center;
}

.r-img {
  max-width: 100%;
  display: inline-block;
  height: auto;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.container-fluid {
  width: 100%;
  min-width: 970px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1440px;
  min-width: 970px;
  @extend .clearfix;
}

.h3, .h3 a {
  margin: 20px 0;
  font-family: $font-family-base;
  color: #7c8695;
  font-size: 14px;
  font-weight: 400;
  @extend .text-overflow;
}

.h3 a {
  text-decoration: none;
  transition: color .2s linear;
  &:hover {
    color: $text-green;
  }
}

.h3-with-link {
  @extend .h3;
  padding-right: 45px;
  position: relative;
  @extend .text-overflow;
  a {
    position: absolute;
    right: 0;
    top: 0;
    font-family: $font-family-base;
    color: #1c2534;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.h4, .h4 a {
  font-family: $font-family-base;
  color: #1c2534;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0;
  @extend .text-overflow;
}

.h4 a {
  text-decoration: none;
  transition: color .2s linear;
  &:hover {
    color: $text-green;
  }
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e2e6;
  margin: 20px 0;
  padding: 0;
}

.pull-right {
  float: right;
}

.relative {
  position: relative;
}

//buttons
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  @include user-select(none);
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }
}

.primary-btn {
  @extend .btn;
  background-color: $bg-green;
  color: #fff;
  transition:  opacity .2s linear;
  &:hover {
    opacity: .9;
  }
}