@font-face {
  font-family: 'ProximaNova';
  src: url("#{$proxima-font-path}/ProximaNova-Regular.eot"),
  url("#{$proxima-font-path}/ProximaNova-Regular.woff") format("woff"),
  url("#{$proxima-font-path}/ProximaNova-Regular.ttf") format("truetype"),
  url("#{$proxima-font-path}/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}