.footer {
  padding-bottom: 10px;
}

.footer-text {
  font-family: $font-family-base;
  color: #b7bfcd;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.footer-menu {
  padding-left: 0;
  list-style-type: none;
  margin: 5px 0;
}

.footer-item {
  display: inline-block;
}

.copyright {
  margin: 5px 0 17px 0;
}

.footer-link, .copyright  {
  @extend .footer-text;
}

.footer-link {
  margin-right: 20px;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}