@import "mixins";
@import "variables";

.header {
  background-color: $bg-green;
  padding: 15px 0;
  border-bottom: 2px solid $header-border-color;
  position: relative;
  margin-bottom: 10px;
}

.header-actions-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrap {
  margin-right: 30px;
}

.search-wrap {
  display: inline-block;
  position: relative;
  flex-grow: 1;
}

.header-search-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  color: $search-btn-color;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  &:hover {
    color: lighten($search-btn-color, 10);
  }
}

.search-input {
  background-color: $bg-dark-green;
  width: 100%;
  height: 34px;
  border: none;
  border-radius: 3px;
  font-family: $font-family-base;
  color:  #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 42px;
  padding: 10px 10px 10px 38px;
  display: block;
  outline: none;
  transition: background-color .2s linear;
  &:focus {
    background-color: lighten($bg-dark-green, 1);
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    opacity: .5;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: .5;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    opacity: .5;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    opacity: .5;
  }
}

.header-icons-wrap {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  [class^="icon-"] {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
  }
}

.header-user-wrap {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  float: right;
  figure {
    margin: 0;
  }
}

.header-user-img {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.header-user-name {
  font-family: $font-family-base;
  color:  #fefefe;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  display: inline-block;
  vertical-align: middle;
  @extend .text-overflow;
  max-width: 350px;
}