//FAQ and sourse in /img/icons

@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icons-path}/icomoon.eot?1jonga');
  src:  url('#{$icons-path}/icomoon.eot?1jonga#iefix') format('embedded-opentype'),
  url('#{$icons-path}/icomoon.ttf?1jonga') format('truetype'),
  url('#{$icons-path}/icomoon.woff?1jonga') format('woff'),
  url('#{$icons-path}/icomoon.svg?1jonga#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ask:before {
  content: $ask-icon;
}
.icon-chat:before {
  content: $chat-icon;
}
.icon-companies:before {
  content: $companies-icon;
}
.icon-feed:before {
  content: $feed-icon;
}
.icon-notifications:before {
  content: $notifications-icon;
}
.icon-search:before {
  content: $search-icon;
}
.icon-services:before {
  content: $services-icon;
}

