@import "variables";
@import "mixins";

.main-container {
  position: relative;
  padding: 0 15px;
  margin-bottom: 15px;
}

.main-content {
  width: 100%;
  float: left;
  padding-left: $sidebar-width + $sidebar-left-margin;
  padding-right: $sidebar-width + $sidebar-left-margin;
}

.services-wrap {
  border-radius: 5px;
  border: 1px solid #e0e2e6;
  background-color: #ffffff;
}

.services-list {
  padding-top: 5px;
  padding-left: 0;
  list-style-type: none;
  margin: 0 0 15px 0;
  text-align: center;
}

.services-img-wrap {
  width: 140px;
  height: 140px;
  border: 1px solid #e0e2e6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-icon {
  max-width: 75px;
  max-height: 75px;
}

.services-list-item {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  &:hover {
    .services-img-wrap {
      background-color: #f4f7fb;
      transition: background-color .2s linear;
    }
    .services-caption {
      color: $text-green;
      transition: color .2s linear;
    }
  }
  a {
    text-decoration: none;
    width: 140px;
    height: 140px;
    display: inline-block;
  }
  figure {
    margin: 0;
  }
}

.services-caption {
  font-family: $font-family-base;
  color: #1c2534;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding: 15px 5px;
}

.not-found-wrap {
  display: none;
}

.not-found-figure {
  float: left;
  margin: 15px;
}

.not-found-title {
  margin: 15px 10px;
}

.main-head-wrap {
  padding: 15px 0;
}

.main-title {
  display: inline-block;
  max-width: 250px;
  margin: 0;
  @extend .text-overflow;
}