@import "variables";

.left-sidebar {
  width: $sidebar-width;
/*  position: absolute;
  left: 15px;
  top: 0;*/
  margin-left: -100%;
  float: left;
}

.sidebar-menu {
  padding-left: 0;
}

.sidebar-menu-item {
  border-bottom: 1px solid #e0e2e6;
  padding: 12px 0 12px 0;
  list-style-type: none;
}

.sidebar-menu-link {
  font-family: $font-family-base;
  color: #59606b;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  display: block;
  [class^="icon-"] {
    margin-right: 25px;
    color: #c7cdd9;
    font-size: 20px;
    vertical-align: middle;
    transition: color .3s linear;
  }
  transition: color .3s linear;
  &:hover {
    color: $text-green;
    [class^="icon-"] {
      color: $text-green;
    }
  }
}

.advertisement-wrap {
  display: block;
  text-decoration: none;
  figure {
    margin: 0;
  }
  figcaption {
    font-family: $font-family-base;
    color: #d3d3d3;
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
  }
}

.featured-list {
  list-style-type: none;
  padding-left: 0;
  .h4 {
    margin-top: 0;
  }
}

.featured-item {
  margin-bottom: 20px;
}

.featured-img {
  float: left;
  margin-right: 10px;
  transition: opacity .2s linear;
  &:hover {
    opacity: .8;
  }
}

.featured-description {
  p {
    margin: 5px 0;
    font-family: $font-family-base;
    color: #7c8695;
    font-size: 14px;
    font-weight: 400;
  }
}

.features-action-link {
    font-family: $font-family-base;
    color: #1c2534;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $text-green;
    }
}

//right-sidebar

.right-sidebar {
  width: $sidebar-width;
  margin-left: -$sidebar-width;
  float: left;
/*  position: absolute;
  right: 15px;
  top: 0;*/
  padding-bottom: 10px;
}