$font-size-base: 14px;
$font-family-base: 'ProximaNova', "Helvetica Neue", Helvetica, Arial, sans-serif;

//colors
$bg-green: #87b448;
$bg-dark-green: #73993d;
$text-green: #71973c;
$header-border-color: #71973c;
$btn-default-color: #333;
$search-btn-color: #8ebc4d;

$nav-text-color: #59606b;
$nav-icon-color: #c7cdd9;

//icons
$ask-icon: "\e900";
$chat-icon: "\e901";
$companies-icon: "\e902";
$feed-icon: "\e903";
$notifications-icon: "\e904";
$search-icon: "\e905";
$services-icon: "\e906";
$icons-path: '../../img/icons/fonts';
$proxima-font-path: '../../fonts/ProximaNova-Regular';

//sidebar
$sidebar-width: 210px;
$sidebar-left-margin: 15px;
$sidebar-right-margin: 30px;