@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1jonga');
  src:  url('fonts/icomoon.eot?1jonga#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1jonga') format('truetype'),
    url('fonts/icomoon.woff?1jonga') format('woff'),
    url('fonts/icomoon.svg?1jonga#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ask:before {
  content: "\e900";
}
.icon-Chat:before {
  content: "\e901";
}
.icon-Companies:before {
  content: "\e902";
}
.icon-Feed:before {
  content: "\e903";
}
.icon-Notifications:before {
  content: "\e904";
}
.icon-Search:before {
  content: "\e905";
}
.icon-Services:before {
  content: "\e906";
}

