<ul class="services-list">
    <li class="services-list-item" ng-repeat="service in $ctrl.services">
        <a href="#accountancy">
        <figure>
            <div class="services-img-wrap">
                <img src="{{service.icon}}" alt="{{service.title}}" class="services-icon">
                </div>
            <figcaption class="services-caption">{{service.title}}</figcaption>
            </figure>
        </a>
    </li>
</ul>